{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<table>
    <tr>
        <td>{{ form_label(form.nom, "Nom du produit : ") }}</td>
        <td>{{ form_widget(form.nom) }} {{ form_errors(form.nom) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.idcategorie, "Catégorie du produit : ") }}</td>
        <td>{{ form_widget(form.idcategorie) }} {{ form_errors(form.idcategorie) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.prix, "Prix du produit : ") }}</td>
        <td>{{ form_widget(form.prix) }} {{ form_errors(form.prix) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.imgproduit, "Image du produit : ") }}</td>
        <td>{{ form_widget(form.imgproduit) }} {{ form_errors(form.imgproduit) }}</td>
    </tr>
</table>
<button class="btn btn-primary"> {{ button_label|default('Ajouter') }}</i></button>
{{ form_end(form) }}
