<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Suggestions</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="{{ asset("assetss/css/style-starter.css") }}">
    <link rel="stylesheet" href="{{ asset("css/style-starter.css") }}">
</head>
<body>
<!--header-->
<section class="w3l-header">
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark stroke">


            <a class="navbar-brand" href="#index.html">
                <img src="{{ asset("images/alpha1.png") }}" alt="Logo" width="62" height="50"/>
            </a>
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </span>
                </button>
{% block k %}
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% block navdisactive %}{% endblock %}">
                            <a class="nav-link" href="{{ path('dashboard_f') }}">Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% block navevent %}@@about-active{% endblock %}">
                            <a class="nav-link" href="{{ path('list_eventf') }}">Évènements</a>
                        </li>
                        <li class="nav-item {% block navactive %}@@about-active{% endblock %}">
                            <a class="nav-link" href="{{ path('produitf') }}">Boutique</a>
                        </li>
                        <li class="nav-item {% block navblogs %}@@about-active{% endblock %}">
                            <a class="nav-link" href="{{ path('posts_indexf') }}">Postes</a>
                        </li>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="nav-link {% block navsuggestion %}active{% endblock %}" data-toggle="dropdown" aria-expanded="false">
                                Suggestions
                                <i class="fa fa-angle-down lnr"></i>

                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="{{ path('Mysuggestion') }}"> Mes suggestions </a> </li><br>
                                <li><a href="{{ path('suggestion')}}"> Autres suggestions</a> </li><br>
                                <li> <a href="{{ path('reclamation_new') }}"> Reclamation</a> </li>
                            </ul>
                        </li>
                        <li class="nav-item {% block navcontact %}@@about-active{% endblock %}">
                            <a class="nav-link" href="{{ path('contact') }}">Contacter</a>
                        </li>
                        <li class="nav-item {% block navpanier %}@@about-active{% endblock %}">
                            <a class="nav-link" href="{{ path('panier_index') }}">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </li>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="nav-link {% block navsettings %}@@about-active{% endblock %}" data-toggle="dropdown" aria-expanded="false">
                                Profil
                                <i class="fa fa-angle-down lnr"></i>

                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="{{ path('participant') }}"><i class="fa fa-cog"></i> Paramètres</a> </li>
                                <li> <a href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i> Déconnecter</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endblock %}
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <label class="theme-selector">
                        <input type="checkbox" id="themeToggle">
                        <i class="gg-sun"></i>
                        <i class="gg-moon"></i>
                    </label>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--/header-->
</section>
<!-- index-block1 -->
<div class="w3l-index1">
    <div class="content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 content-left">
                   <h1 style="font-size:100px ;color:white;"  >#1
                    </h1>
                    <h4 style="font-size:40px ;color:white; font-family:Times New Roman;" class="mt-3 mb-lg-5 mb-4"> Le sport développe la molécule du plaisir </h4><form class="form-inline search-course d-flex">
                     {% block a%}   <a href="{{ path('suggestion_new') }}" style="font-size:40px;" class="btn btn-outline-success">Ajouter</a>    </form>
               {% endblock%} </div>
                {% block search%}  {% endblock%}
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- //index-block1 -->

<!-- index-block2 -->
<
<!-- /index-block2 -->
<!-- index-block2 -->
<section class="w3l-index3 py-5">
    <div class="container py-md-3">
        {% block top %}
        <div class="header-section text-center mx-auto">
            <h3 style="color:#B1A6A6;">VOS SUGGESTIONS</h3>

        </div>
        {% endblock %}
{% block div  %}
        <div class="row pt-md-3">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="accordion" id="accordionExample">
                    <div class="subject-card mt-4">
                        <div class="subject-card-header p-0" id="headingOne">
                            <a href="#" class="card__title p-3 p-lg-4 collapsed d-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                               aria-controls="collapseOne">
                                <div class="row">
                                    <div class="col-md-5 subject-img">
                                        <img src="{{ asset("assetss/images/s1.jpg") }}" class="img-fluid img-curve" alt="" />
                                    </div>
                                    <div class="col-md-7 subject-content mt-md-0 mt-4">
                                        <h3>Computer science</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quaerat voluptates nisi minus sed eligendi nam et atque
                                            perferendis dignissimos!</p>
                                        <span class="course-number"><span class="fa fa-graduation-cap" aria-hidden="true"></span> 8 Courses</span>
                                        <p class="sub-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis in atque odio....</p>
                                    </div>
                                </div>
                                <span class="collapsed">
                  Show More <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </span>
                                <span class="expanded">
                  Show Less <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </span>
                            </a>

                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                            <div class="card-body p-3 p-lg-4">
                                <div class="row">
                                    <div class="col-md-6 pr-md-4">
                                        <div class="course-details">
                                            <h4>Why Study with Us?</h4>
                                            <ul>
                                                <li><img src="{{ asset("assetss/images/check.png") }}" alt="tick"> overall student-athelete GPA for Spring 2020</li>
                                                <li><img src="{{ asset("assetss/images/check.png") }}" alt="tick"> bachelor's recipients were employed or both within six months of</li>
                                                <li><img src="{{ asset("assetss/images/check.png") }}" alt="tick"> gradueates hold a position related to their degree or career objective</li>
                                            </ul>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject features:</h4>
                                            <ol>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                            </ol>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject overview:</h4>
                                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi fuga natus quis velit tenetur,
                                                consectetur, temporibus ea quasi repellendus doloremque sit magnam dignissimos ut!</p>
                                            <a class="btn btn-light" href="courses.html">View all Courses</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-md-4 mt-md-0 mt-5">
                                        <div class="course-details">
                                            <h4>Subject overview:</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi fuga natus quis velit tenetur, consectetur,
                                                temporibus ea quasi repellendus doloremque sit magnam dignissimos ut!</p>
                                            <img src="assetss/images/banner.jpg" class="img-fluid img-curve my-3" alt="" />
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject benefits:</h4>
                                            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit perferendis dignissimos!</p>
                                            <ol>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        {% endblock %}
    </div>
            </div>
        </div>
    </div>
 </section>
<!-- /index-block2 -->

{% block produit %}
    <section class="w3l-courses py-5">
        <div class="container py-lg-3">
            <div class="header-section mb-5 text-center mx-auto">
                <h3>Produit </h3>



            </div>
            <div>




                <div class="item">
                    <div class="course-grid">
                        <div class="course-img">
                            <a href="courses-single.html"><img src="assetss/images/s2.jpg" alt=" " class="img-fluid">
                                <div class="price red">
                                    <h4>$28.15</h4>
                                </div>
                            </a>
                        </div>
                        <div class="course-cont">
                            <span class="subject red">Data Science</span>
                            <h5 class="card-title"><a href="courses-single.html">Learning to Write as a Professional Author</a></h5>
                            <ul class="admin-post">
                                <li>
                                    <span class="fa fa-file-code-o"></span>5 lessons
                                </li>
                                <li>
                                    <span class="fa fa-user-o"></span>12 Students
                                </li>
                            </ul>
                            <a href="courses-single.html" class="blog-btn mt-3">Know More <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- //courses Section -->
    <!-- subscribe section -->

{% endblock %}

<!-- / getstarted -->



        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
    </section>
    <!-- //footer -->
</footer>

<!-- jQuery JS -->
<!-- <script src="assetss/js/jquery-3.4.1.slim.min.js"></script> -->
<!-- jQuery JS -->
<script src="assetss/js/jquery-1.9.1.min.js"></script>

<!-- Template JavaScript -->

<!-- owl carousel -->
<script src="assetss/js/owl.carousel.js"></script>

<!-- script for testimonials -->
<script>
    $(document).ready(function () {
        $('.owl-testimonials').owlCarousel({
            loop: false,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 2,
                    nav: false
                },
                667: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: false
                }
            }
        })
    })
</script>
<!-- //testimonials owlcarousel -->

<!-- logos for customers -->
<script>
    $(document).ready(function () {
        $('.owl-logos').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 2,
                    nav: false
                },
                480: {
                    items: 2,
                    nav: false
                },
                667: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: false
                }
            }
        })
    })
</script>
<!-- //logos owlcarousel -->

<!-- courses for customers -->
<script>
    $(document).ready(function () {
        $('.owl-courses').owlCarousel({
            loop: true,
            margin: 30,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    })
</script>
<!-- //courses owlcarousel -->

<!-- magnific popup -->
<script src="assetss/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>

<!-- responsive tabs -->
<script src="assetss/js/easyResponsiveTabs.js"></script>

<!--Plug-in Initialisation-->
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>

<!-- stats number counter-->
<script src="assetss/js/jquery.waypoints.min.js"></script>
<script src="assetss/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->


<!--theme switcher dark and light mode script-->
<script>
    const bodyElement = document.querySelector('body');
    const themeToggle = document.querySelector('#themeToggle');
    const darkModeMql = window.matchMedia('(prefers-color-scheme: dark)');

    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : userPreference(darkModeMql);

    if (currentTheme) {
        bodyElement.classList.add(currentTheme);

        if (currentTheme === 'dark') {
            themeToggle.checked = true;
        }
    }

    function userPreference(e) {
        if (e.matches) {
            bodyElement.classList.add("dark");
            return "dark"
        } else {
            bodyElement.classList.remove("dark");
            return ""
        }
    }

    darkModeMql.addListener(userPreference);

    function themeSwitcher(e) {
        if (e.target.checked) {
            bodyElement.classList.add('dark');
            localStorage.setItem('theme', 'dark');
        } else {
            bodyElement.classList.remove('dark');
            localStorage.setItem('theme', '');
        }
    }

    themeToggle.addEventListener('change', themeSwitcher);
</script>
<!--//theme switcher dark and light mode script-->


<!-- Bootstrap JS -->
<script src="assetss/js/bootstrap.min.js"></script>

</body>

</html>